body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #141418;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #d6d6d6;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #000;
   }

   .language {
      background-color: #000;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #000;
      color: white;
   }

   header {
      background-color: #000;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #000;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #141418;
      }
      .card {
         background: #141418;
         color: white;
      }
   }

   #portfolio {
      background: #000;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #141418;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #000;
      .vertical-timeline-element-content{
         background: #141418 !important;
         color: white;
      }
      
      .experience-badge {
         background: #646464 !important;
         color: white;
      }

      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #646464 !important;
         color: white;
      }

      .main-badge {
         background: #000 !important;
         color: white;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #000 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #000;
      color: white;
   }
   .text-white {
      color: white ;
   }

   .close-icon {
      color: white;
   }

   #skills {
      background: #141418;
      min-height: 200px;
      width: 100%;
      overflow: hidden;
      padding-bottom: 10%;
      color: #d6d6d6
   }

   .skill-icon {
      font-size: 180%;
      color: #d6d6d6 !important;
      text-align: center;
      position: relative;
   }

   .list-inline-item{
      background: #000;
      border-radius: 5px;
   }
}